body {
    background: rgb(69,69,70);
    background: linear-gradient(180deg, #ff005e 0%, #a1008c 100%);
    font-family:  'Bebas Neue', cursive;
    max-width: 1920px;
}

h1{
    color: rgb(255,255,255) ;
    text-align: center;
    font-size: 60px;
    color: rgb(255,255,255) ;
    text-align: center;
    border: 0px;
    margin-bottom: 0px;
}


h2{
    color: rgb(255,255,255) ;
    text-align: center;
    border: 0px;
    margin-top: 0px;
}

h3{
    font-size: 40px;
}

p{
    color: rgb(255,255,255) ;
    text-align: center;
}

button{
    font-family:   'Bebas Neue', cursive;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    border: 2px solid rgb(255,255,255);
    width: 50%;
    margin: 5px auto;
}

.personal-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-spotify{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-apple-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-google-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-patreon{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.personal{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px;
    
}

.resume{
    text-align: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 15px;
    margin: 10px 120px;
    background-color: rgb(255,255,255);
}


.resume-link{
color: rgb(100, 100, 100);
text-decoration: none;
font-size: 20px;
}

.newsletter{
    color: rgb(255,255,255) ;
    text-align: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 15px;
    margin: 10px 120px;
    background-color: rgb(255,255,255);
}

.newsletter-link{
    color: rgb(100, 100,100);
    text-decoration: none;
    font-size: 20px;
    }


.podcast{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px; 
}

.social{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 85px;   
}

.social-section{
    display: flex;
    justify-content: center;
    margin: auto;
}

.twitter-logo{
    width: 70px;
    margin: auto;
    padding: auto;
    /* border: 2px solid rgb(255,255,255); */

}

.github-logo{
    position: relative;
    top: 5px;
    width: 70px;
    margin: auto;
    padding: auto;
}

footer{
    color: rgb(255,255,255) ;
    text-align: center;
    margin: 50px 50px;
    font-size: x-small;
}

@media only screen and (max-width: 375px){

    /* Mobile: small screen */


    .newsletter{
        margin: auto;
        width: 50%;
        position: relative;
        right: 15%;
    }

    .resume{
        margin: auto;
        width: 50%;
        position: relative;
        top: 50%;
        right: 50%;
    }

    .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
        width: 70%;
    }

    footer{
        font-size: small;
    }

}

@media only screen and (max-width: 428px){

/* Responsive mobile: medium screen */

    .newsletter, .resume{
        width: 60%;
        position: relative;
        right: 10%;
    }

    .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
        width: 70%;
    }

    footer{
        font-size: small;
    }

}

@media only screen and (max-width: 768px){

    /* Responsive tablet: small screen */

        h1{
            font-size: 60pt;
        }
    
        .head-p{
            font-size: 25pt;
        }
    
        .newsletter, .resume{
            width: 45%;
            position: relative;
            left: 10%;
        }
    
        .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
            width: 55%;
        }

        .personal, .podcast, .social{
            font-size: xx-large;
        }
    
        footer{
            font-size: large;
        }
    
    }