body {
    background: linear-gradient(180deg, #ff005e 0%, #a1008c 100%);
    font-family:  'Bebas Neue', cursive;
    max-width: 1440px;
}

h1{
    color: rgb(255,255,255) ;
    text-align: center;
    font-size: 60px;
    color: rgb(255,255,255) ;
    text-align: center;
    border: 0px;
    margin-bottom: 0px;
}


h2{
    color: rgb(255,255,255) ;
    text-align: center;
    border: 0px;
    margin-top: 0px;
}

h3{
    font-size: 40px;
    margin-bottom: 10px;
}

p{
    color: rgb(255,255,255) ;
    text-align: center;
}

button{
    font-family:   'Bebas Neue', cursive;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    border: 2px solid rgb(255,255,255);
    width: 50%;
    margin: 5px auto;
}

.personal-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-spotify{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-apple-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-google-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-patreon{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.personal{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px;
    
}

.resume{
    text-align: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 15px;
    margin: 10px 120px;
    background-color: rgb(255,255,255);
}


.resume-link{
color: rgb(100, 100, 100);
text-decoration: none;
font-size: 20px;
}

.newsletter{
    color: rgb(255,255,255) ;
    text-align: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 15px;
    margin: 10px 120px;
    background-color: rgb(255,255,255);
}

.newsletter-link{
    color: rgb(100, 100,100);
    text-decoration: none;
    font-size: 20px;
    }


.podcast{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px; 
}

.social{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 85px;
}

.social-section{
    display: flex;
    justify-content: center;
    margin: auto;

}


svg{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}


footer{
    color: rgb(255,255,255) ;
    text-align: center;
    margin: 50px 50px;
    font-size: x-small;
}

/* Responsive */

@media only screen and (min-width: 280px){

    /* Galaxy fold: foldded */

button{
    width: 60%; 
}

    .tittle{
        font-size: 50px;
    }

    .text-footer{
        font-size: 10px;
    }
}

@media only screen and (min-width: 375px){

    /* Mobile: small screen */

    button{
        width: 70%;
    }


    .personal-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
        width: 70%;
    }

    footer{
        font-size: small;
    }

}

@media only screen and (min-width: 428px){

/* Responsive mobile: medium screen */

    .newsletter, .resume{
        width: 60%;
        position: relative;
        right: 10%;
    }

    .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
        width: 70%;
    }

    footer{
        font-size: small;
    }

    button{
        width: 75%;
    }

}

@media only screen and (min-width: 768px){

    /* Responsive tablet: small screen */

        h1{
            font-size: 60pt;
        }

        button{
            width: 55%;
        }
    
        .head-p{
            font-size: 25pt;
        }
    
        .personal-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
            width: 55%;
        }

        .personal, .podcast, .social{
            font-size: xx-large;
        }


    
        footer{
            font-size: large;
        }
    
    }

    @media only screen and (min-width: 1280px){

        .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
            width: 30%;
        }

        .personal-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        button{
            width: 30%;
        }

        .text-footer{
            font-size: medium;
        }

    }

    @media only screen and (min-width: 1440px){

        .tittle{
            font-size: 140px;
        }

        h2{
            font-size: 35px;
        }

        .podcast-section{
            width: 50%;
            display: flex;
            position:relative;
            flex-direction: column;
            justify-content: center;
            left: 25%;
        }
        
        .img-spotify, .img-apple-podcast, .img-google-podcast, .img-patreon {
            width: 50%;
        }

        .personal-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        button{
            width: 25%;

        }

        .text-footer{
            font-size: medium;
        }

        .text-footer{
            font-size: large;
        }

    }