body {
    background: rgb(69,69,70);
    background: linear-gradient(180deg, #ff005e 0%, #a1008c 100%);
    font-family:  'Bebas Neue', cursive;
    max-width: 1920px;
}

h1{
    color: rgb(255,255,255) ;
    text-align: center;
}

p{
    color: rgb(255,255,255) ;
    text-align: center;
}

/* img {
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
} */


.img-spotify{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-apple-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-google-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-patreon{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.personal{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px;
    
}

.resume{
    color: rgb(255,255,255) ;
    text-align: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 15px;
    margin: 10px 120px;
    background-color: rgb(0, 0, 0) ;
}

.resume-link{
color: rgb(255,255,255);
text-decoration: none;
font-size: 20px;
}

.podcast{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px; 
}

.social{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 85px;   
}

.social-section{
    display: flex;
    justify-content: center;
    width: 10px;
    margin: auto;
    /* width: 5000px; */
}

.twitter{
    color: rgb(255,255,255) ;
    text-align: center;
    /* border: 2px solid rgb(255,255,255);
    border-radius: 15px; */
    /* margin: 10px 80px; */
    /* background-color: rgb(0, 0, 0); */
}

.twitter-logo{
    width: 50px;
    margin: auto;
    padding: auto;
}

.github{
    color: rgb(255,255,255) ;
    text-align: center;
    /* border: 2px solid rgb(255,255,255);
    border-radius: 15px; */
    /* margin: 10px 80px; */
    /* background-color: rgb(0, 0, 0); */
}

.github-logo{
    width: 50px;
    margin: auto;
    padding: 0px 10px 0px 10px;
}

.newsletter{
    color: rgb(255,255,255) ;
    text-align: center;
    /* border: 2px solid rgb(255,255,255);
    border-radius: 15px; */
    /* margin: 10px 80px; */
    /* background-color: rgb(0, 0, 0); */
}

.newsletter-logo{
    width: 40px;
    margin: auto;
    padding: auto;
}

footer{
    color: rgb(255,255,255) ;
    text-align: center;
    margin: 50px 50px;
    font-size: x-small;
}