body {
    background: rgb(69,69,70);
    background: linear-gradient(180deg, #ff005e 0%, #a1008c 100%);
    font-family:  'Bebas Neue', cursive;
    max-width: 1920px;
}

h1{
    color: rgb(255,255,255) ;
    text-align: center;
    font-size: 60px;
}

p{
    color: rgb(255,255,255) ;
    text-align: center;
}

.head-p{
    position: relative;
    top: -50px;
}


.img-spotify{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-apple-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-google-podcast{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img-patreon{
    border: 1px;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.personal{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px;
    
}

.resume{
    text-align: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 15px;
    margin: 10px 120px;
    background-color: rgb(255,255,255);
}


.resume-link{
color: rgb(100, 100, 100);
text-decoration: none;
font-size: 20px;
}

.newsletter{
    color: rgb(255,255,255) ;
    text-align: center;
    border: 2px solid rgb(255,255,255);
    border-radius: 15px;
    margin: 10px 120px;
    background-color: rgb(255,255,255);
    font-size: 20px;
}

.newsletter-link{
    color: rgb(100, 100,100);
    text-decoration: none;
    font-size: 20px;
    }


.podcast{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 70px; 
}

.social{
    color: rgb(255,255,255) ;
    text-align: center;
    margin-top: 85px;   
}

.social-section{
    display: flex;
    justify-content: center;
    margin: auto;
}

.twitter-logo{
    width: 70px;
    margin: auto;
    padding: auto;
    /* border: 2px solid rgb(255,255,255); */

}

.github-logo{
    position: relative;
    top: 5px;
    width: 70px;
    margin: auto;
    padding: auto;
    /* border: 2px solid rgb(255,255,255); */
}

footer{
    color: rgb(255,255,255) ;
    text-align: center;
    margin: 50px 50px;
    font-size: x-small;
}

/* area button test - start*/

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.text-box{
    position: relative;
    /* left: -50px; */
}

.text-box-2{
    position: relative;
    /* left: -50px;
    top: 50px; */
}
/* area button test - end */