body {
    background-color: #ffff ;}
    
h1 {
    font-family: Arial, Helvetica, sans-serif;}

h2 {
    font-family: Arial, Helvetica, sans-serif;}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.left bu

img {
    width: 250px;
    height: 250px;
    align-items: center;}